

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 35);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

header {
    height: 70px;
    width : 100%;
    position:fixed;
    background-color: #fff;
    padding: 1vw 8vw;
    /* border: 2px solid red; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0 , 0 , 0, 0.15);
}
header img{
    height: inherit;
    width: 100px;
    cursor: pointer;
}
nav {
    display:flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid blue; */
}
nav ul {
    list-style: none;
    display:flex;
    flex-direction: end;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration:none;
    color: gray;
    padding:1vw 2vw;
    font-size: 20px;
    transition: .3s ease;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: orange;
    color:white;
}

/* home */

#home {
    /* background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46,0.7)),url("./images/back_cover.jpg"); */
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46,0.7)),url("./images/back_cover1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color:aliceblue;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width:50%;
    color:aliceblue;
    font-size: 0.9rem;
    line-height: 25px;
}
#home a{
    text-decoration: none;
    padding: 13px 35px;
    font-size: 0.9rem;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}



#home .btn{
    margin-top:30px;
}

#home a.orange{
    color:white;
    background:orange;
    transition: 0.3s ease;
}
#home a.orange:hover{
    color: blue;
    background: white;
}

#home a.white{
    color:blue;
    background:white;
    transition: 0.3s ease;
}
#home a.white:hover{
    color: white;;
    background: orange;
}

/* features section  */

#features {
    padding:5vw 8vw 0 8vw;
    text-align: center;
}
#features .fea-sec {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top:50px;
}
#features .fea-box {
    background-color: #fff;
    text-align: start;
    background: rgb(240, 240, 241);
    padding: 20px;
}
#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}
#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color:rgb(46, 46, 59);
    padding:13px 0 7px 0;
}
#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color:rgb(67, 67, 88);
}